/*.menu-ul{
    text-align: end;

}
.menu-li{
    display:inline;
    font-size: 20px;
    color:rgb(207, 182, 41) ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    position: relative;
    z-index: 2;
}
*{
    margin: 0;
    padding: 0;
}
.menu{
    position: relative;
    min-height: 100vh;
}
.menu-img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 65%;
}
.menu-promo{
    position: relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    width: 60%;
    color:rgb(207, 182, 41) ;
    font-size: 27px;
    }
    .menu-promo-p{
        color:aliceblue;
    }
    .menu-promo-button{
        background: rgb(207, 182, 41);
        width: 200px;
        height: 50px;
        font-size: 1.6rem;
        border-radius: 30px;
        color:#3f3f3f;
    }
.capa{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c1c1d;
    width: 100%;
    height: 65%;
    opacity: 0.5;
}
a{
    text-decoration: none;
    color:rgb(207, 182, 41);
}
.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  0 20px;
}
.contenedor-producto{
    width: 30%;
    height: 30%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.product__title{
    text-align: center;

}
.product__price{
    color: #ff4E00;
    font-weight: bold;

}
.product__img{
    width:100%;
    height:200px;
    object-fit: cover;
}
.product__icon{
    display: block;
    margin-top: 10px;
}